style {
    height: 100%;
    width: 100%;
  }
  .body{
    max-width: 949px;
    max-height: 1971px;
    font-family: Inknut Antiqua;
  }
  .main{
    box-sizing:border-box;
    background:white;
    border-radius:20px;
    border:1px solid rgb(8, 8, 8);
    max-width:400px;
    display:block;
    padding:20px 30px;
    box-shadow:whitesmoke 0px 5px 10px 1px;
    justify-content:center;
    gap:20px
  }
  .logo img{
    width:100px; 
    align-items:center;   
  }
  .logo{
   align-items:center;
  }

  .create h3{
    display:block;
    color:black;
    font-weight:bold;
    text-align: left;
    flex-shrink: 0;
    font-family: Inria Serif;
    font-size: 40px;
    font-style: normal;
    line-height: normal;
    margin:5px 10px 0px;
  }
  .create{
    flex-direction:column;
    gap:12px;
  }
  .Second{
    display:flex;
    flex-direction:column;
    color:black;
    flex-shrink: 0;
  }
  .page{
    color: #000;
    font-family: Inknut Antiqua;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

  }
  
.text{
    width: 158px;
    height: 55px;
    flex-shrink: 0;
    color: #000;
    font-family: Inknut Antiqua;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
  
  .submit{
    color: black;
  }
  p{
    font-size:15px;
    color:ash;
  }
    /* Common styles for all screen sizes */
    form {
    margin: 0 auto;
    padding: 20px;
    color: #000;
    font-family: Inknut Antiqua;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    }

    label {
      display: block;
      margin-bottom: 13px;
      
    }

    input,
    select {
      width: 100%;
      padding: 8px;
      margin-bottom: 15px;
      border: 1px solid black;
      border-radius: 4px;
    }

    input[type="file"] {
      border: none;
      margin-bottom: 5px;
    }

    input[type="submit"] {
      background-color: yellow;
      color: black;
      cursor: pointer;
    }
    p {
        color:blue;
        font-size:15px;
        gap:15px;
        margin:15px;
    }
    .thirdparagraph{
        color:blue;
        font-size:16px;
        text-align:center;
    }


    /* Media query for screen sizes smaller than 768px (e.g., mobile phones) 
    @media screen and (max-width: 900px) {
      form {
        padding: 10px;
      }

      label {
        margin-bottom: 5px;
      }

      input,
      select {
        padding: 5px;
        margin-bottom: 10px;
        font-size: 14px;
      }
    }*/
  

    
  